<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Hero</title>
</head>
<body>
    <div class="release_date-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                       </div>
                    {% else %}
                       {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
               </div>
               <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}
                    {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.role.label }}
                    {% if form.role.errors %}
                        {{ form.role(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.role.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %} 
                        {% for subfield in form.role %}
                            {{ subfield() }} {{ subfield.label }}
                        {% endfor %}
                    {% endif %}
                </div>
               <div class="form-group">
                   {{ form.release_date.label(class="form-control-label") }}
                   {% if form.release_date.errors %}
                       {{ form.release_date(class="form-control form-control-lg is-invalid") }}
                       <div class="invalid-feedback">
                           {% for error in form.release_date.errors %}
                               <span>{{ error }}</span>
                           {% endfor %}
                       </div>
                   {% else %}
                       {{ form.release_date(class="form-control form-control-lg") }}
                   {% endif %}
               </div>
           </fieldset>
           <span>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="back-button">
                    <a href='{{ url_for("main.home") }}'>Go Back</a>
                </div>
           </span>
           
       </form>
   </div>
</body>
</html>
